In [53]:
pip install beautifulsoup4
pip install lxml

In [17]:
from bs4 import BeautifulSoup
#from urllib.request import urlopen
import requests
import pandas as pd
import numpy as np

In [117]:
with open ('postcode_of_canada.html') as html_file:
    soup = BeautifulSoup(html_file,'lxml')

In [2]:
resposne = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(resposne,'lxml')
print(soup.prettify())

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [260]:
df = pd.DataFrame(data)
df = df.replace('\n','', regex=True) 
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Ignore cells with a borough that is Not assigned.

In [261]:
df = df[df['Borough'] != 'Not assigned']
df.shape

(210, 3)

More than one neighborhood can exist in one postal code area

In [262]:
df = df.groupby(['PostalCode','Borough']).agg(lambda x: ','.join(x)).reset_index()
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [264]:
df['Neighborhood'].replace('Not assigned', "Queen's Park",inplace= True)
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

use the .shape method to print the number of rows of your dataframe.

In [265]:
df.shape[0]

103